@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #F5F5DC;
}

h1{
    font-weight: bold;
}

.destaque{
    color: #004225;
}

.cabecalho{
    background-color: #004225;
    padding: 1.5%;
}

.cabecalho__menu{
    display: flex;
    gap: 30%;
    justify-content: center;
}
.cabecalho__menu__link:hover{
    text-decoration: underline;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #FFCF9D;
    text-decoration: none;
}
.apresentacao{
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Croissant One', cursive;
}

.apresentacao__conteudo__texto{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__imagem{
    width: 55%;
    height: 55%;
    border-radius: 5px;
}

.rodape{
    padding: 10px;
    background-color: #FFB000;
    color: #004225;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.card{
    background-color: #FFCF9D;
    padding: 24px;
    margin: 32px;
    border-radius: 10px;
    
}

.receita__conteudo{
    display: flex;
    gap: 150px;
    padding: 24px;
}

.receita__foto{
    width: 15.5rem;
    height: 15.5rem;
    border-radius: 5px;
}

.receita__titulo{
    font-size: 2.25rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-decoration: none;
}

.receita__subtitulo{
    font-size: 1.2rem;
    font-weight: bold;
}

.receita__ingredientes{
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo{
    inline-size: 290px;
    overflow-wrap: break-word;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo2{
    inline-size: 500px;
    overflow-wrap: break-word;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo3{
    align-self: stretch;
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo4{
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo5{
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo6{
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo7{
    font-family: 'Montserrat', sans-serif;
}

.receita__preparo8{
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1024px) {
    .cabecalho{
        padding: 5%;
    }
    .cabecalho__menu{
        justify-content: center;
        padding: 0%;
        gap: 9.5%;
    }
    .apresentacao{
        flex-direction: column;
        padding: 10%;
    }
    .apresentacao__conteudo{
        width: auto;
    }
    .receita__conteudo{
        width: auto;
        flex-direction: column;
        gap: 20px;
    }
    .receita__preparo2{
        inline-size: 250px;
    }
    .receita__preparo{
        inline-size: 250px;
        overflow-wrap: break-word;
    }
}